.layout__plus--1{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 200px;
}
.plus__items{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    border: 3px solid #8bc34a;
    margin-bottom: 20px;
    width: 80%;
    text-decoration: none;
    color: black;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   
}

.plus__img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.plus__icon{
    display: flex;
    width: 13px;
    margin-right: 5px;
}

.layout__plus--2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}