.item1 {
    width: 232pt;
    height: 337pt;
    margin: auto;
    display: block;
    padding: 15px;
    text-align: center;
}

.item2 {
    width: 232pt;
    height: 337pt;
    margin: auto;
    display: block;
    padding: 15px;
    text-align: center;
}

.item3 {
    width: 232pt;
    height: 337pt;
    margin: auto;
    display: block;
    padding: 15px;
    text-align: center;
}

