@font-face{
    font-family: 'Chango-Regular.ttf'; 
    src: url(../../../../public/Chango-Regular.ttf)
}

.todoRegistro{
    text-align: center;
}

.registrarse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonesRegistro {
    display: flex;
    width: 200px;
    flex-direction: column;
    gap: 10px;
}

.logearse{
    display: flex;
    width: 200px;
    flex-direction: column;
    gap: 10px;
}

input{
    border: none;
    border-bottom: 2px solid #8bc34a; 
    background-color: transparent;
    box-sizing: border-box;
}

.iniciar{
    margin-top: 20px;
}

.huella{
    width: 20%;
}